In [1]:
# importing

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# import dataset

ds=pd.read_csv("product_data.csv")
ds

,CustomerID,Product,Price,Quantity,City,PurchaseDate
0,1052,Desktop,NaN,4.0,Bangalore,2021-06-30
1,1041,Desktop,NaN,3.0,Delhi,2023-01-21
2,1057,Smartphone,forty-five thousand,2.0,Bangalore,2023-04-06
3,1038,Tablet,45000.0,1.0,Chennai,2023-07-05
4,1013,Smartphone,45000.0,NaN,Mumbai,2022-04-11
...,...,...,...,...,...,...
120,1074,Laptop,45000.0,NaN,Bangalore,2021-08-14
121,1017,Desktop,45000.0,NaN,Pune,2022-08-09
122,1075,Desktop,30000.0,1.0,Pune,2021-09-28
123,1008,Laptop,60000.0,1.0,Chennai,2021-09-13
124,1073,Laptop,15000.0,NaN,Delhi,2021-01-01

In [3]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    125 non-null    int64
 1   Product       125 non-null    object
 2   Price         103 non-null    object
 3   Quantity      98 non-null     object
 4   City          125 non-null    object
 5   PurchaseDate  125 non-null    object
dtypes: int64(1), object(5)
memory usage: 6.0+ KB

In [5]:
# discribe

ds.describe()

        CustomerID
count   125.000000
mean   1045.936000
std      28.183942
min    1000.000000
25%    1019.000000
50%    1044.000000
75%    1071.000000
max    1098.000000

In [6]:
# searching for duplicates

ds.duplicated().sum()

5

In [7]:
# remove duplicates

ds.drop_duplicates(inplace=True)

In [8]:
# it returns with column header 

ds.columns

Index(['CustomerID', 'Product', 'Price', 'Quantity', 'City', 'PurchaseDate'], dtype='object')

In [14]:
# handling Price

ds["Price"]=pd.to_numeric(ds["Price"],errors='coerce')

In [11]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    120 non-null    int64
 1   Product       0 non-null      float64
 2   Price         98 non-null     object
 3   Quantity      96 non-null     object
 4   City          120 non-null    object
 5   PurchaseDate  120 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.6+ KB

In [15]:
# filling missing value in age column

x=ds["Price"].median()
ds["Price"].fillna(x, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_14828\4284937391.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds["Price"].fillna(x, inplace=True)

In [16]:
ds["Price"].unique()

array([30000., 45000., 60000., 15000.])

In [17]:
ds["Price"].unique()

array([30000., 45000., 60000., 15000.])

In [18]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    120 non-null    int64
 1   Product       0 non-null      float64
 2   Price         120 non-null    float64
 3   Quantity      96 non-null     object
 4   City          120 non-null    object
 5   PurchaseDate  120 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 6.6+ KB

In [19]:
# handling Quantity

ds["Quantity"]=pd.to_numeric(ds["Quantity"],errors='coerce')

In [20]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    120 non-null    int64
 1   Product       0 non-null      float64
 2   Price         120 non-null    float64
 3   Quantity      95 non-null     float64
 4   City          120 non-null    object
 5   PurchaseDate  120 non-null    object
dtypes: float64(3), int64(1), object(2)
memory usage: 6.6+ KB

In [21]:
# filling missing value in age column

x=ds["Quantity"].median()
ds["Quantity"].fillna(x, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_14828\3168236273.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ds["Quantity"].fillna(x, inplace=True)

In [22]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    120 non-null    int64
 1   Product       0 non-null      float64
 2   Price         120 non-null    float64
 3   Quantity      120 non-null    float64
 4   City          120 non-null    object
 5   PurchaseDate  120 non-null    object
dtypes: float64(3), int64(1), object(2)
memory usage: 6.6+ KB

In [23]:
ds["City"].unique()

array(['Bangalore', 'Delhi', 'Chennai', 'Mumbai', 'Pune'], dtype=object)

In [24]:
ds.to_csv("cleaneddata2.csv")

In [25]:
print(ds.to_string())

     CustomerID  Product    Price  Quantity       City PurchaseDate
0          1052      NaN  30000.0       4.0  Bangalore   2021-06-30
1          1041      NaN  30000.0       3.0      Delhi   2023-01-21
2          1057      NaN  30000.0       2.0  Bangalore   2023-04-06
3          1038      NaN  45000.0       1.0    Chennai   2023-07-05
4          1013      NaN  45000.0       3.0     Mumbai   2022-04-11
5          1094      NaN  60000.0       3.0     Mumbai   2022-03-12
6          1004      NaN  30000.0       2.0    Chennai   2022-02-25
7          1034      NaN  30000.0       2.0    Chennai   2022-12-22
8          1086      NaN  30000.0       3.0      Delhi   2022-10-23
9          1092      NaN  30000.0       3.0     Mumbai   2022-03-12
10         1074      NaN  45000.0       3.0  Bangalore   2021-08-14
11         1017      NaN  45000.0       3.0       Pune   2022-08-09
12         1075      NaN  30000.0       1.0       Pune   2021-09-28
13         1008      NaN  60000.0       1.0    Chennai   2021-09-13
14         1073      NaN  15000.0       3.0      Delhi   2021-01-01
15         1057      NaN  15000.0       3.0       Pune   2022-11-22
16         1016      NaN  60000.0       4.0     Mumbai   2023-09-03
17         1006      NaN  30000.0       3.0    Chennai   2022-07-10
18         1045      NaN  45000.0       1.0  Bangalore   2023-01-21
19         1012      NaN  15000.0       3.0    Chennai   2023-07-20
20         1039      NaN  30000.0       3.0  Bangalore   2021-02-15
21         1041      NaN  30000.0       3.0    Chennai   2021-01-01
22         1008      NaN  60000.0       4.0    Chennai   2021-04-16
23         1049      NaN  30000.0       2.0    Chennai   2022-02-25
24         1026      NaN  15000.0       4.0  Bangalore   2023-03-22
25         1065      NaN  30000.0       4.0  Bangalore   2021-01-31
26         1004      NaN  15000.0       3.0    Chennai   2022-04-11
27         1028      NaN  60000.0       4.0       Pune   2021-05-16
28         1036      NaN  60000.0       1.0      Delhi   2022-05-11
29         1037      NaN  30000.0       3.0      Delhi   2023-03-22
30         1082      NaN  30000.0       1.0      Delhi   2022-04-11
31         1007      NaN  30000.0       2.0  Bangalore   2023-01-06
32         1064      NaN  30000.0       3.0  Bangalore   2021-04-01
33         1085      NaN  30000.0       2.0       Pune   2021-04-16
34         1016      NaN  45000.0       3.0      Delhi   2023-08-19
35         1070      NaN  45000.0       3.0      Delhi   2023-04-21
36         1088      NaN  45000.0       4.0    Chennai   2023-09-18
37         1044      NaN  45000.0       3.0  Bangalore   2023-05-21
38         1003      NaN  15000.0       2.0      Delhi   2023-12-02
39         1035      NaN  45000.0       4.0       Pune   2023-03-07
40         1069      NaN  60000.0       3.0       Pune   2023-09-18
41         1030      NaN  60000.0       4.0      Delhi   2023-01-21
42         1018      NaN  15000.0       1.0  Bangalore   2021-04-16
43         1060      NaN  45000.0       4.0       Pune   2022-05-11
44         1053      NaN  45000.0       1.0    Chennai   2022-05-26
45         1038      NaN  45000.0       4.0       Pune   2022-04-11
46         1090      NaN  30000.0       1.0     Mumbai   2022-11-07
47         1073      NaN  30000.0       2.0     Mumbai   2021-08-14
48         1089      NaN  30000.0       3.0  Bangalore   2023-10-03
49         1018      NaN  30000.0       3.0      Delhi   2022-06-25
50         1038      NaN  45000.0       4.0  Bangalore   2023-03-07
51         1066      NaN  45000.0       3.0  Bangalore   2021-07-15
52         1044      NaN  30000.0       3.0  Bangalore   2023-03-22
53         1012      NaN  30000.0       3.0  Bangalore   2022-12-07
54         1091      NaN  30000.0       1.0    Chennai   2021-04-01
55         1057      NaN  60000.0       2.0    Chennai   2021-04-01
56         1019      NaN  30000.0       2.0       Pune   2022-04-26
57         1091      NaN  30000.0       3.0     Mumbai   2021-11-27
58         1071      NaN  30000.0       2.0  Bangalore   2021-09-28
59         1060      NaN  15000.0       4.0       Pune   2021-09-28
60         1038      NaN  30000.0       2.0     Mumbai   2022-06-10
61         1000      NaN  15000.0       3.0      Delhi   2022-02-25
62         1002      NaN  60000.0       2.0    Chennai   2023-06-05
63         1076      NaN  30000.0       4.0     Mumbai   2021-01-16
64         1091      NaN  30000.0       1.0      Delhi   2021-01-01
65         1061      NaN  15000.0       3.0     Mumbai   2022-11-22
66         1062      NaN  30000.0       1.0    Chennai   2023-10-18
67         1024      NaN  30000.0       1.0    Chennai   2021-10-13
68         1055      NaN  45000.0       1.0       Pune   2021-05-31
69         1032      NaN  15000.0       3.0  Bangalore   2021-01-16
70         1037      NaN  30000.0       3.0     Mumbai   2023-09-18
71         1005      NaN  15000.0       1.0     Mumbai   2021-06-15
72         1057      NaN  15000.0       3.0      Delhi   2021-10-13
73         1043      NaN  45000.0       4.0    Chennai   2021-03-02
74         1044      NaN  30000.0       4.0     Mumbai   2022-06-25
75         1031      NaN  15000.0       2.0    Chennai   2022-07-10
76         1044      NaN  30000.0       3.0     Mumbai   2021-05-01
77         1060      NaN  60000.0       3.0       Pune   2023-02-20
78         1046      NaN  15000.0       1.0  Bangalore   2022-10-08
79         1020      NaN  15000.0       2.0     Mumbai   2021-12-12
80         1079      NaN  45000.0       4.0    Chennai   2022-03-12
81         1084      NaN  30000.0       3.0       Pune   2023-05-21
82         1074      NaN  60000.0       3.0     Mumbai   2021-07-15
83         1035      NaN  30000.0       1.0      Delhi   2021-05-01
84         1098      NaN  60000.0       4.0  Bangalore   2022-08-09
85         1018      NaN  30000.0       3.0     Mumbai   2023-09-03
86         1019      NaN  30000.0       3.0       Pune   2021-12-27
87         1056      NaN  30000.0       1.0      Delhi   2023-12-17
88         1017      NaN  45000.0       3.0       Pune   2021-11-12
89         1046      NaN  45000.0       4.0       Pune   2021-02-15
90         1048      NaN  45000.0       3.0      Delhi   2022-01-11
91         1013      NaN  45000.0       3.0       Pune   2023-05-06
92         1014      NaN  60000.0       3.0      Delhi   2022-02-25
93         1030      NaN  30000.0       3.0     Mumbai   2022-06-25
94         1000      NaN  30000.0       3.0      Delhi   2023-11-02
95         1053      NaN  30000.0       3.0      Delhi   2021-09-13
96         1002      NaN  45000.0       2.0  Bangalore   2022-09-08
97         1015      NaN  45000.0       4.0      Delhi   2022-08-24
98         1086      NaN  15000.0       1.0      Delhi   2022-07-10
99         1056      NaN  30000.0       3.0     Mumbai   2022-05-11
100        1074      NaN  60000.0       2.0  Bangalore   2021-08-29
101        1011      NaN  30000.0       1.0    Chennai   2022-06-25
102        1073      NaN  15000.0       2.0     Mumbai   2021-12-27
103        1095      NaN  15000.0       3.0     Mumbai   2022-01-26
104        1015      NaN  30000.0       3.0    Chennai   2023-04-21
105        1071      NaN  60000.0       1.0      Delhi   2022-03-27
106        1075      NaN  15000.0       1.0       Pune   2021-03-17
107        1023      NaN  15000.0       1.0  Bangalore   2022-08-09
108        1027      NaN  30000.0       1.0       Pune   2021-06-15
109        1007      NaN  60000.0       1.0    Chennai   2023-02-20
110        1091      NaN  15000.0       2.0     Mumbai   2023-11-17
111        1035      NaN  60000.0       3.0     Mumbai   2021-05-16
112        1089      NaN  30000.0       3.0  Bangalore   2022-10-23
113        1007      NaN  45000.0       3.0     Mumbai   2021-08-29
114        1057      NaN  15000.0       3.0     Mumbai   2022-01-11
115        1059      NaN  30000.0       3.0  Bangalore   2023-07-05
116        1049      NaN  30000.0       2.0  Bangalore   2022-11-07
117        1027      NaN  60000.0       4.0    Chennai   2023-08-04
118        1091      NaN  30000.0       3.0     Mumbai   2021-01-16
119        1040      NaN  15000.0       1.0     Mumbai   2023-03-07